/* Eric Mayers Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Reset */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

#active {
  color: var(--secondary);
}

/* Variables */

:root {
  --primary: #012d5b;
  --secondary: #fd656b;
  --ternary: #e7ebf6;
  --pure: #fff;
  --text: #5f5e5e;
  --heaven: #e9f7ff;
  --light: #f7f2f2;
  --clr-golden: #f8af05;
  --dark: #000000;
  --bg: #ffffff80;
  --bgdark: #b3b0b0;
}

/* Typography */

h2 {
  font-size: 3rem;
  font-weight: 800;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 1.2;
}

/* Container */

.container-big {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

.container-small {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}

/* General */

.padding {
  padding: 6rem 0;
}

.align-stretch {
  align-self: stretch;
}

.text {
  font-size: 1rem;
  color: var(--text);
  font-weight: 500;
}

.section-header {
  text-align: center;
  padding-bottom: 4rem;
}

/* Header-container */

.header-container {
  padding: 8rem 0;
  text-align: center;
  color: var(--pure);
}

/* Flex */

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

.flex-23 {
  flex: 0 1 23%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-32 {
  flex: 0 1 32%;
}

.flex-37 {
  flex: 0 1 37%;
}

.flex-60 {
  flex: 0 1 60%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-47 {
  flex: 0 1 47%;
}

.flex-90 {
  flex: 0 1 90%;
}

.flex-10 {
  flex: 0 1 10%;
}

/* Top-Header */

.top-header {
  padding: 10px 0;
  color: var(--light);
  background-color: var(--primary);
}

address i {
  margin-right: 0.5rem;
}

address p {
  font-size: 0.9rem;
  margin-right: 4rem;
}

.top-header a {
  color: var(--light);
}

/* Nav-Menu */

.nav-menu li {
  margin-left: 2rem;
  color: var(--light);
  text-transform: uppercase;
  font-weight: 500;
}

/* Hero-header */

.hero-header {
  padding: 1.4rem 0;
}

/* Button */

.btn {
  padding: 0.7rem 1.6rem;
  border-radius: 8px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.btn-primary {
  background-color: var(--secondary);
  color: var(--pure);
  border: 3px solid var(--secondary);
}

.btn-ternary {
  border: 3px solid var(--secondary);
  padding: 0.5rem 0.8rem;
  color: var(--secondary);
}

.btn-ternary:hover {
  color: var(--pure);
  background-color: var(--secondary);
}

.btn-primary:hover {
  color: var(--secondary);
  background-color: var(--pure);
}

/*=================================*

             HOME PAGE

*=================================*/

/* Hero Section */

.hero {
  height: 100vh;
  background: url(/assets/media/hero/h1_hero.jpg) 0 0 no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-content p {
  font-size: 1.5rem;
  color: var(--secondary);
}

.hero-content h1 {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: var(--primary);
}

/* Feature-Section */

.feature {
  background-color: var(--heaven);
}

.feature-heading {
  color: var(--primary);
  padding: 5px 0;
}

.feature-content {
  padding: 2rem;
  border: 4px solid var(--secondary);
}

.feature-content span {
  border-bottom: 4px solid var(--secondary);
  padding-bottom: 0.7rem;
}

.feature-content .text {
  padding: 2.3rem 0 1.4rem 0;
}

.fa-chevron-right {
  font-size: 0.6rem;
}

.feature-content strong {
  color: var(--primary);
  margin-right: 8px;
}

/* Client-Section */

.client .container-small {
  position: relative;
}

.client-content {
  padding: 3rem;
  background-color: var(--bg);
  position: absolute;
  bottom: 0;
  left: 34rem;
  right: 3rem;
}

.client-content .text {
  padding: 1.8rem 0 2.4rem 0;
  line-height: 1.8;
  text-align: justify;
}

/* Service Section */

.service {
  padding-bottom: 4rem;
}

.service-card img {
  width: 4rem;
  display: inline-block;
}

.service-card {
  text-align: center;
  padding: 3rem 1rem;
  background-color: var(--heaven);
  border-radius: 8px;
}

.service-card p {
  line-height: 1.8;
}

.service-card h4 {
  padding: 0.3rem 0;
}

.service-btn {
  text-align: center;
  padding-top: 3rem;
}

/* Case Section */

.case {
  background-color: var(--heaven);
}

.img-col {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  border-radius: 5px;
}

.img-col img {
  height: 20rem;
}

.case-content .text {
  padding: 1rem 0 2rem 0;
}

.case .btn {
  padding: 0.7rem 2rem;
  font-size: 1rem;
}

/* Custom  Scrollbar */

.img-col::-webkit-scrollbar {
  width: 10px;
}

.img-col::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.img-col::-webkit-scrollbar-thumb {
  background: #b1aeae;
  border-radius: 10px;
}

/* Testimonial Section */

.testimonial {
  text-align: center;
}

.testimonial .container-small {
  max-width: 50rem;
}

.test-content img {
  width: 15rem;
  display: inline-block;
}

.test-content .text {
  padding: 0.5rem 0;
  line-height: 1.6;
  font-size: 1.4rem;
}

.test-content .star i {
  color: var(--clr-golden);
  padding: 2rem 0 1rem 0;
}

.testimonial strong {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text);
}

.testimonial span {
  font-size: 1rem;
  color: var(--text);
}

/* News Section */

.news {
  padding-bottom: 4rem;
}

.col-2-3 {
  background-color: var(--heaven);
}

.col-2-3 p {
  color: var(--secondary);
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 2rem;
}

.col-2-3 h4 {
  font-size: 1.2rem;
  padding-left: 2rem;
  color: var(--primary);
}

.col-2-3 time {
  font-size: 0.9rem;
  color: var(--text);
  font-weight: 500;
  padding: 0 0 2rem 2rem;
  display: inline-block;
}

/* Callback Section */

.callback {
  background-color: var(--primary);
}

.call-content h5 {
  color: var(--heaven);
}

.call-content p {
  padding: 0.5rem 0;
  color: var(--heaven);
}

/* Form */

.form-control {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  background-color: var(--primary);
  border: 2px solid var(--ternary);
  outline: none;
  border-radius: 5px;
}

.callback input::placeholder,
select {
  color: var(--heaven);
}

.form-btn {
  width: 100%;
  flex: 0 1 35%;
  align-self: flex-start;
  padding: 0.7rem;
  display: inline-block;
  font-size: 1.3rem;
  background-color: var(--secondary);
  border-radius: 5px;
  color: var(--pure);
}

/* Footer */

.footer {
  padding: 5rem 0 3rem 0;
}

.footer img {
  width: 10rem;
  padding-bottom: 2rem;
}

.footer .text {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
}

.footer .social-icon {
  display: flex;
}

.footer .social-icon li {
  margin-right: 1rem;
}

.footer .social-icon li a {
  font-size: 1.4rem;
  color: var(--primary);
}

.footer h4 {
  padding-bottom: 1rem;
}

.footer a {
  display: block;
  line-height: 1.8;
  font-size: 1rem;
  color: var(--text);
}

.footer strong {
  font-weight: 500;
  font-size: 1rem;
  color: var(--text);
}

.footer hr {
  border: 0;
  border-top: 3px solid var(--ternary);
  margin: 3rem 0;
}

.copyright {
  text-align: center;
  color: var(--text);
  font-size: 0.9rem;
}

.copyright span {
  color: var(--secondary);
}

/*=================================*

             ABOUT PAGE

*=================================*/

.about {
  background: url(../media/hero/about_hero.jpg) 0 0 no-repeat;
  background-size: cover;
}

/*=================================*

             SERVICE PAGE

*=================================*/

.service-top {
  background: url(../media/hero/services_hero.jpg) 0 0 no-repeat;
  background-size: cover;
}

/*=================================*

             BLOG PAGE

*=================================*/

.blog {
  background: url(../media/hero/blog_hero.jpg) 0 0 no-repeat;
  background-size: cover;
}

/* Aside */

.blog-aside > div {
  padding: 2rem;
  background-color: var(--heaven);
  margin-bottom: 2rem;
}

.blog-aside h4 {
  padding-bottom: 0.7rem;
  border-bottom: 3px solid var(--ternary);
}

/* Form */

.form_control {
  width: 100%;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  background-color: var(--pure);
  font-size: 1rem;
  color: var(--text);
  display: block;
  outline: 0;
  border: 0;
}

.blog-form input::placeholder {
  color: var(--text);
}

.blog-btn {
  border: 3px solid var(--secondary);
  color: var(--secondary);
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.blog-btn:hover {
  color: var(--pure);
  background: var(--secondary);
}

.search-icon {
  background-color: var(--secondary);
  padding: 1rem;
  color: var(--pure);
}

/* Category */

.category p {
  padding: 0.9rem 0;
  border-bottom: 3px solid var(--ternary);
  font-size: 1.2rem;
  color: var(--text);
  font-weight: 500;
}

/* Recent Post */

.recent-post h4 {
  margin-bottom: 2rem;
}

.recent-post img {
  flex: 0 1 35%;
  border-radius: 7px;
}

.col-4-1 {
  margin-bottom: 2rem;
}

.col-4-1 p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark);
  line-height: 2;
}

.col-4-1 time {
  font-weight: 500;
  color: var(--text);
}

/* Tag Clouds */

.tag-container {
  padding: 2rem 0;
}

.tag-container span {
  padding: 0.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text);
  border: 2px solid var(--bgdark);
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
}

/* Instagram Feeds */

.insta-feeds > div {
  padding-top: 2rem;
}

.insta-feeds .flex {
  flex-wrap: wrap;
}

.insta-feeds .flex-30 {
  margin-bottom: 0.8rem;
}

/* Newsletter */

.newsletter form {
  padding-top: 3rem;
}

/* Blog Main */

.blog-article h4 {
  padding: 1.5rem 0 0.5rem 0;
}

.article_content {
  padding: 1rem 2rem;
}

.blog-article {
  margin-bottom: 2.5rem;
  box-shadow: 0 0 10px 0 #0000001a;
}

.article_content p {
  line-height: 1.7;
  padding-bottom: 1.2rem;
}

.fa-user-alt,
.fa-comments {
  color: var(--bgdark);
  padding-right: 0.5rem;
}

.lifestyle {
  border-right: 3px solid var(--text);
  padding: 0 0.5rem;
  margin-right: 0.5rem;
}

.lifestyle,
.comments {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bgdark);
}

/* Date */

.blog-article {
  position: relative;
}

.blog-article time {
  background-color: var(--secondary);
  font-size: 1.3rem;
  color: var(--heaven);
  display: inline-block;
  padding: 0.4rem 2rem;
  border-radius: 7px;
  position: absolute;
  left: 2rem;
  top: 15.5rem;
}

.blog-article strong {
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
}

/* Button-Next */

.btn-next {
  text-align: center;
}

.btn-next a {
  border: 2px solid var(--bgdark);
  padding: 0.7rem 0.9rem;
  color: var(--bgdark);
  margin-right: 5px;
}

.btn-next .fa-chevron-right {
  font-size: 1rem;
}

/*=================================*

             CASE STUDY PAGE

*=================================*/

.case-study {
  background: url(../media/hero/cases_hero.jpg) 0 0 no-repeat;
  background-size: cover;
}

.course {
  padding: 8rem 0;
}

.course .flex {
  flex-wrap: wrap;
}

.col-3-2 {
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.course-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 4rem;
  background-color: var(--pure);
  padding: 0.6rem;
}

/*=================================*

             CONTACT PAGE

*=================================*/

.contact-us h4 {
  padding: 4rem 0 1.5rem 0;
  font-size: 1.7rem;
}

.Contact-Page {
  background: url(../media/hero/contact_hero.jpg) 0 0 no-repeat;
  background-size: cover;
}

.contact-us .map iframe {
  width: 100%;
}

.input-control {
  border: 2px solid #cac1c1;
  padding: 1rem;
  outline: none;
  margin-bottom: 1.7rem;
  border-radius: 7px;
  width: 100%;
}

.contact-us .contact-btn {
  padding: 1rem 3rem;
  color: var(--secondary);
  outline: none;
  border: 3px solid var(--secondary);
  border-radius: 7px;
  background: var(--pure);
  font-weight: 600;
  letter-spacing: 2px;
}

.contact-us .contact-btn:hover {
  background: var(--secondary);
  color: var(--pure);
}

/* Adress */

.address-col .flex {
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.address-col i {
  font-size: 2.4rem;
  padding-right: 1rem;
  color: var(--text);
}

.address-col :is(strong, a) {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary);
}

.address-col p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
}
